


@media (orientation: portrait) {
   
    ion-modal.baseModal {
        --width: 640px;
        --height: 710px;
        --border-radius: 10px;
        --background: #232323;
    }

    
    .first-box {
        width: 100%;
        /* background-color: #293462; */
    }

    .second-box {
        /* background-color: #F24C4C; */
        width: 100%;
        /* margin-top: -2.5%;
        margin-left: 3%;
        margin-right: 3%; */

    }
    #inner_pw{
        color: #ff6300;
        font-size: 12px;
        margin-left: 10%;
    
    }
  

    ion-row.input_padd {
        /* position: relative; */
        /* z-index: 1; */
        background-color: #232323;
        height: 50%;
        margin-top: 50%;
        border: 0px;
    }  
 
    ion-row.input_roww {
        width: 100%;
        height: 70px;
        border: 0px;
        margin-top: 2.5%;
        margin-left: 5%;
    }
    
    ion-button.input_btnn {
        --background: #313131;
        width: 180px;
        height: 80px;
        margin-top: -2%;
        margin-left: 1%;
    
        font-weight: 700;
        font-size: 35px;
    }

    .pw_body{
        position: relative;
    }
    
    .pw_body2{
        /* width: 680px;
        height: 350px;
        margin-top:-1%;
        background-color: #313131; */
        
        position: fixed;
        width: 100%;
        margin-left:-0.7%;
        margin-top: -2%;
        height: 46%;
        background-color: #313131;
        /* z-index: -1; */
    }
    .pw_body3{
        padding-left: 13%;
        padding-top: 1%;
    }
    .pw_body3_first{
        display: flex;
        font-size: 35px;
        font-weight: 700;
        margin-left: 20%;
    }
    .pw_body3_first_p{
        color: #848484;   
    }
    .pw_body3_first_p2{
        color : white;
        margin-left: 5%;
    }
    .pw_body3_second{
        display: flex;
        font-size: 20px;
        font-weight: 400;
        margin-top: -8%;
        margin-left: 15%;
    }
    .pw_body3_second_p{
        color:#ff6300;
        font-weight: 700;
    }
    .pw_body3_second_p2{
        color: white;
        letter-spacing: -1px;
    }
    .pw_body3_box{
        width: 350px;
        height: 55px;
        border: 1px solid #848484;
        margin-left: 12%;
        border-radius: 10px;
    }
    .pw_body3_box_input{
        font-weight: 400;
        font-size: 26px;
        color: #848484;
        opacity: 0.5;
        margin-left: 11%;
        margin-top: 2.8%;
        letter-spacing: -0.5px;
    }
    
     .pw_body3_last{
        display: flex;
        justify-content: center;
        gap: 52%;
        margin-left:-16%;
        
     }

     .pw_body3_last_div1 {
        width: 220px;
        height: 60px;
        border-radius: 5px;
        background-color: #ff6300;
        padding-left: 12.5%;
        padding-top: 2.5%;
        margin-top:1%;
    }

    .pw_body3_last_button1 {
        display: inline-block;
        background: #FF6300;
        border-radius: 5px;
        color: #FFFFFF;

        font-weight: 700;
        font-size: 25px;

    }

    .pw_body3_last_div2 {
        width: 220px;
        height: 60px;
        border-radius: 5px;
        background-color: #A8B1CE;
        padding-left: 12%;
        padding-top: 2.5%;
        margin-left:-50%;
        margin-top:1%;

    }

    .pw_body3_last_button2{
        background: #A8B1CE;
        border-radius: 5px;
        color: #FFFFFF;

        font-weight: 700;
        font-size: 25px;

    }

   

}


@media (orientation: landscape) { /*가로모드*/
    ion-modal.baseModal {
        --width: 1070px;
        --height: 530px;
        --border-radius: 10px;
        --background: #232323;

    }

    .box-wrap{
        margin-left: 0%;
        margin-top: 0%;
    }
    #inner_pw{
        color: #ff6300;
        font-size: 12px;
        margin-left: -3%;
    
    }
    

    .first-box {
        margin-top: 0%;
        /* margin-left: 0.8%; */
        width: 50%;
        order: -1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* background-color: #293462; */
    }

    .second-box{
        /* background-color: #F24C4C; */
        margin-left: 50%;
    }
    

    ion-row.input_padd {
        position: relative;
        z-index: 1;
        background-color: #232323;
        height: 298px;
        margin-top: -98%;
        border: 0px;
    }
    ion-row.input_roww {
        width: 100%;
        height: 80px;
        border: 0px;
        margin-top: 4%;
        margin-left: 2%;
    }
    
    ion-button.input_btnn {
        --background: #313131;
        width: 150px;
        height: 90px;
        margin-top: -3%;
        margin-left: 2.5%;
    
        font-weight: 700;
        font-size: 35px;
    }
    .pw_body{
        position: relative;
        /* margin-top: -100%; */
    }
    .pw_body2{
        width: 635px;
        height: 560px;
        margin-top:-1%;
        background-color: #313131;
    }
    .pw_body3{
        padding-left: 32.5%;
        padding-top: 3%;
    }
    .pw_body3_first{
        display: flex;
        font-size: 35px;
        font-weight: 700;
        margin-left: 8%;
        margin-top:5%;
    }
    .pw_body3_first_p{
        color: #848484;   
    }
    .pw_body3_first_p2{
        color : white;
        margin-left: 5%;
    }
    .pw_body3_second{
        display: flex;
        font-size: 20px;
        font-weight: 400;
        margin-top: 0%;
        margin-left: 3%;
    }
    .pw_body3_second_p{
        color:#ff6300;
        font-weight: 700;
    }
    .pw_body3_second_p2{
        color: white;
        letter-spacing: -1px;
    }
    .pw_body3_box{
        width: 350px;
        height: 55px;
        border: 1px solid #848484;
        margin-left: -2%;
        margin-top: 1%;
  
        border-radius: 10px;
    }
    
    .pw_body3_box_input{
        font-weight: 400;
        font-size: 26px;
        color: #848484;
        opacity: 0.5;
        margin-left: 11%;
        margin-top: 2.8%;
        letter-spacing: -0.5px;
    }

    .pw_body3_last{
        display: flex;
        justify-content: center;
        gap: 52%;
        margin-left:-26%;
        margin-top:20%;

        .pw_body3_last_div1 {
            width: 220px;
            height: 60px;
            border-radius: 5px;
            background-color: #ff6300;
            padding-left: 15.5%;
            padding-top: 3%;
        }
    
        .pw_body3_last_button1 {
            display: inline-block;
            background: #FF6300;
            border-radius: 5px;
            color: #FFFFFF;
    
            font-weight: 700;
            font-size: 25px;
    
        }
    
        .pw_body3_last_div2 {
            width: 220px;
            height: 60px;
            border-radius: 5px;
            background-color: #A8B1CE;
            padding-left: 15%;
            padding-top: 3%;
            margin-left:-50%;
    
        }
    
        .pw_body3_last_button2 {
            background: #A8B1CE;
            border-radius: 5px;
            color: #FFFFFF;
    
            font-weight: 700;
            font-size: 25px;
    
        }
}

}