
@media (orientation: portrait) {
    ion-row.input_padd {
        position: relative;
        z-index: 1;
        background-color: #232323;
        height: 298px;
        margin-top: 50%;
        border: 0px;
    }
    ion-row.input_roww {
        width: 100%;
        height: 70px;
        border: 0px;
        margin-top: 2.5%;
        margin-left: 12%;
    }
    
    ion-button.input_btnn {
        --background: #313131;
        width: 130px;
        height: 80px;
        margin-top: -3%;
        margin-left: 2.5%;
    
        font-weight: 700;
        font-size: 35px;
    }
    .pw_body{
        position: relative;
        margin-top: -100%;
    }
    .pw_body2{
        width: 670px;
        height: 350px;
        background-color: #313131;
    }
    .pw_body3{
        padding-left: 19%;
        padding-top: 5%;
    }
    .pw_body3_first{
        display: flex;
        font-size: 35px;
        font-weight: 700;
        margin-left: 8%;
    }
    .pw_body3_first_p{
        color: #848484;   
    }
    .pw_body3_first_p2{
        color : white;
        margin-left: 5%;
    }
    .pw_body3_second{
        display: flex;
        font-size: 20px;
        font-weight: 400;
        margin-top: -6%;
    }
    .pw_body3_second_p{
        color:#ff6300;
        font-weight: 700;
    }
    .pw_body3_second_p2{
        color: white;
        letter-spacing: -1px;
    }
    .pw_body3_box{
        width: 350px;
        height: 55px;
        border: 1px solid #848484;
        margin-left: 1%;
  
        border-radius: 10px;
    }
    .pw_body3_box_input{
        font-weight: 400;
        font-size: 26px;
        color: #848484;
        opacity: 0.5;
        margin-left: 11%;
        margin-top: 2.8%;
        letter-spacing: -0.5px;
    }
     .pw_body3_last{
        margin-top: 5%;
        margin-left: -12%;
    }
    .pw_body3_last_div1{
        width: 230px;
        height: 65px;
        border-radius: 5px;
        background-color: #ff6300;
        padding-left: 14%;
        padding-top: 3%;

        
    }
    .pw_body3_last_button1{
        color:white;
        background-color: #ff6300;
        font-weight: 700;
        font-size: 26px;
    }
    .pw_body3_last_div2{
        width: 230px;
        height: 65px;
        border-radius: 5px;
        background-color: #A8B1CE;
        padding-left: 14%;
        padding-top: 3%;
        margin-top: -11.2%;
        margin-left: 43%;
        
    }
    .pw_body3_last_button2{
        color:white;
        background-color: #A8B1CE;
        font-weight: 700;
        font-size: 26px;
        margin-top: 2%;
    }

}

@media (orientation: landscape) { /*가로모드*/
    ion-row.input_padd {
        position: relative;
        background-color: #232323;
        height: 298px;
        padding-top: 9px;
        padding-bottom: 9px;
        border: 0px;
    }
    
    ion-row.input_roww {
        width: 100%;
        height: 70px;
        border: 0px;
        margin-top: 2.3%;
        margin-left: -0.5%;
    }
    
    ion-button.input_btnn {
        --background: #313131;
        width: 120px;
        height: 80px;
        margin-top: 4.5%;
        margin-left: 1.5%;
    
        font-weight: 700;
        font-size: 35px;
    }
    .pw_body{
        position: relative;
        margin-left: 43%;
        margin-top: -32%;
    }
    .pw_body2{
        width: 570px;
        height: 600px;
        background-color: #313131;
    }

    .pw_body3{
        padding-left: 16%;
        padding-top: 10%;
    }
    .pw_body3_first{
        display: flex;
        font-size: 35px;
        font-weight: 700;
        margin-left: 8%;
    }
    .pw_body3_first_p{
        color: #848484;   
}
    .pw_body3_first_p2{
        color : white;
        margin-left: 5%;
    }

    .pw_body3_second{
        display: flex;
        font-size: 20px;
        font-weight: 400;
    }
    .pw_body3_second_p{
        color:#ff6300;
        font-weight: 700;
    }
    .pw_body3_second_p2{
        color: white;
        letter-spacing: -1px;
    }
    .pw_body3_box{
        width: 350px;
        height: 65px;
        border: 1px solid #848484;
        margin-left: 1%;
        margin-top: 1.5%;
        border-radius: 10px;
    }
    .pw_body3_box_input{
        font-weight: 400;
        font-size: 26px;
        color: #848484;
        opacity: 0.5;
        margin-left: 11%;
        margin-top: 4%;
        letter-spacing: -0.5px;
    }

    .pw_body3_last{
        margin-top: 15.5%;
        margin-left: -13%;
    }
    .pw_body3_last_div1{
        width: 230px;
        height: 65px;
        border-radius: 5px;
        background-color: #ff6300;
        padding-left: 16%;
        padding-top: 3.5%;

        
    }
    .pw_body3_last_button1{
        color:white;
        background-color: #ff6300;
        font-weight: 700;
        font-size: 26px;
    }
    .pw_body3_last_div2{
        width: 230px;
        height: 65px;
        border-radius: 5px;
        background-color: #A8B1CE;
        padding-left: 16%;
        padding-top: 3.5%;
        margin-top: -12.2%;
        margin-left: 48%;
        
    }
    .pw_body3_last_button2{
        color:white;
        background-color: #A8B1CE;
        font-weight: 700;
        font-size: 26px;

    }
}