ion-grid.grid {
    /* background-color: #232323; */
    width: 100%;
    height: 100%;

    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

ion-row {
    background-color: #232323;
}

ion-col {
    padding: 0px 10px 0px 10px;
    border: 0px;
    width: 100%;
    height: 100%;
}

/* -----------------------segment----------------------- */
ion-row.input_segment {
    width: 100%;
    height: 60px;
}

.input_segment {
    --background: #232323;
}

ion-segment-button::part(native) {
    color: white;
}

.segment-button-checked.md::part(native) {
    color: #FF6300;
}

ion-segment-button::part(indicator-background) {
    background: #FF6300;
}
/* -----------------------segment----------------------- */

/* -----------------------입력창----------------------- */
ion-row.input_div_row {
    width: 100%;
    height: 84px;
}

div.input_div {
    background-color: #232323;
    color: #BABABA;
    width: 100%;
    height: 84px;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* -----------------------입력창----------------------- */

/* -----------------------설명창----------------------- */
ion-row.input_desc {
    width: 100%;
    height: 138px;
}

div.input_desc {
    background-color: #232323;
    color: #BABABA;
    width: 100%;
    height: 100%;
    font-size: small;
    margin: 0px 28px;
    white-space: pre-line;
    line-height: 30px;

    display: flex;
    align-items: center;
}

.hr {
    border-bottom: 1px solid #393A3A;
    border-radius: 1px;
    margin: 0 0;
    width: 100%;
}
/* -----------------------설명창----------------------- */

ion-row.input_pad {
    height: 298px;
    padding-top: 3%;
    padding-bottom: 3%;
}

ion-row.input_row {
    width: 100%;
    height: 70px;
}

ion-button.input_btn {
    --background: #313131;
    width: 33.3%;
    height: 60px;
    margin: 5px 1% 5px 1%;
}