


@media (orientation: portrait) {
    ion-row.title {
        height: 320px;
    }
    .welcome {
        --width : 640px;
        --height : 710px;
        --border-radius: 10px;
        --background : #232323;
    
    }
}

@media (orientation: landscape) {
    ion-row.title {
        height: 155px;
    }
    .welcome {
        --width: 1070px;
        --height: 530px;
        --border-radius: 10px;
        --background: #232323;
    
    }
}




/* .welcome{
    width:640px;
    height:710px;
    margin:auto;
    
} */